button {
    background-color: #f4eee5;
    border: none;
    font-family: Quicksand, sans-serif;
    font-size: 1.2rem;
    padding: .7rem 2rem;
    cursor: pointer;
    border-radius: 50px;
    margin: .5rem;
}

button:hover {
    background-color: #92272D;
    color: #f4eee5;
    transition: all 0.3s ease;
}

