* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.292), rgba(0, 0, 0, 0.805)), url(../img/yubaba.webp);
    background-size: cover;
    color: #f4eee5;
    font-family: Quicksand, sans-serif;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2rem;
    gap: 2rem;
        & h1 {
            font-size: 3rem;
            font-family: Merienda, cursive;
        }
        p {
            font-size: 1.5rem;
            padding: 0rem 8rem;
        }
}
