* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #f4eee5;
    font-family: Quicksand, sans-serif;
}

.container_exit {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.309), rgba(0, 0, 0, 0.94)), url('../img/spirited-away.webp');
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.2rem;
    gap: 3rem;
    padding: 0rem 10rem;
        & h1 {
            font-size: 3rem;
            font-family: Merienda, cursive;
        }
}

.italic {
    font-style: italic;
}
