* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

footer {
    background-color: black;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
        & button {
            font-size: .9rem;
            padding: .5rem 1.5rem;
        }
}